boto3==1.34.127
botocore==1.34.127
gTTS==2.5.1
moviepy==1.0.3
playwright==1.49.0
praw==7.7.1
prawcore~=2.3.0
requests==2.32.3
rich==13.7.1
toml==0.10.2
git+https://github.com/doloopwhile/PyExecJS.git
translators==5.9.2
pyttsx3==2.90
Pillow==10.4.0
tomlkit==0.12.5
Flask==3.1.0
clean-text==0.6.0
unidecode==1.3.8
spacy==3.8.7
torch==2.6.0
transformers==4.41.2
ffmpeg-python==0.2.0
elevenlabs==1.3.0
yt-dlp==2024.5.27
numpy==2.1.3
vosk 
instagrapi==1.19.8
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
pydantic==1.10.9